---
title: Monitoring TAS for VMs
owner: <%= vars.platform_name %> Metrics Platform Monitoring
---

These topics describe how <%= vars.platform_name %> operators can monitor their <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) deployments. For information about monitoring <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) deployments, see [Logging and Monitoring <%= vars.k8s_runtime_abbr %>](https://docs.pivotal.io/tkgi/monitor.html).

For more information about logging and metrics in <%= vars.platform_name %>, see [Overview of Logging and Metrics](../loggregator/data-sources.html).


## <a id="new"></a> KPI and Scaling Changes from <%= vars.app_runtime_abbr %> v2.9 to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

There are no changes to key performance indicator (KPI) or scaling recommendations from <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) v2.9 to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.


## <a id="resources"></a> Monitor <%= vars.platform_name %> Services

For information about KPIs and metrics for <%= vars.platform_name %> services, see:

* **VMware Tanzu SQL [MySQL]:** [Monitoring VMware Tanzu SQL [MySQL]](https://docs.pivotal.io/p-mysql/monitor.html).

* **VMware Tanzu Gemfire:** [Monitoring VMware Tanzu GemFire Service Instances](https://docs.pivotal.io/p-cloud-cache/monitoring.html).

* **Redis for VMware Tanzu:** [Monitoring Redis for VMware Tanzu](https://docs.pivotal.io/redis/2-0/monitoring.html)

* **VMware Tanzu RabbitMQ (pre-provisioned):** [Monitoring and KPIs for Pre-Provisioned VMware Tanzu RabbitMQ](https://docs.pivotal.io/rabbitmq-cf/monitor-pp.html)

* **VMware Tanzu RabbitMQ (on-demand):** [Monitoring and KPIs for On-Demand VMware Tanzu RabbitMQ](https://docs.pivotal.io/rabbitmq-cf/monitor.html)
